html 
    head 
        block header
            meta(charset="UTF-8")
            meta(name="viewport" content="width=device-width, initial-scale=1.0")
            meta(charset="UTF-8")
            meta(name="viewport" content="width=device-width, initial-scale=1.0")
            script( src="https://apis.google.com/js/platform.js" async defer)
            meta(name="google-signin-client_id" content="285346964002-6okat251b65iogco4g4irn3ft0sd7gc8.apps.googleusercontent.com")
            link(
            href="https://fonts.googleapis.com/css?family=Lato:300,300i,700"
            rel="stylesheet")
            link(rel="stylesheet" href="/css/style.css")
            link(rel="shortcut icon" type="/image/png" href="/img/favicon.png")
            title #{title} | Exciting tours for adventurous people

    body 

        include _header

        block content

        include _footer

    script(src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js")
    script(src='/js/login.js')
    script(src="/js/stripe.js")

    



